<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.a.entry %>"></script>
</head>
<body>
  <!--注释测试-->
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  <ul>
  <% for(var key in htmlWebpackPlugin) { %>
    <%= "<li><ul>" %>
        <%= "<li>"+ key +"</li>" %>
      <% for(var op in htmlWebpackPlugin[key]){ %>
        <%= "<li>" + op + ": "+ JSON.stringify(htmlWebpackPlugin[key][op]) + "</li>" %>
      <% } %>
    <%= "</ul></li>" %>
  <% } %>
  </ul>
</body>
</html>